<form [formGroup]="form"
      (submit)="submitForm()"
      autocomplete="off"
      novalidate>
  <ng-container *ngIf="!isLoggingIn">
    <div class="ui-g-12">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               pInputText
               formControlName="firstName">
        <label>First Name</label>
        <i class="fa fa-user-circle-o"
           aria-hidden="true"></i>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               pInputText
               formControlName="lastName">
        <label>Last Name</label>
        <i class="fa fa-user-circle-o"
           aria-hidden="true"></i>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               pInputText
               formControlName="company">
        <label>Company</label>
        <i class="fa fa-building-o"
           aria-hidden="true"></i>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               pInputText
               daInputMask
               [mask]="{ alias: 'phone', showMaskOnHover: false }"
               formControlName="phone">
        <label>Phone</label>
        <i class="fa fa-phone"
           aria-hidden="true"></i>
      </div>
    </div>
  </ng-container>
  <div class="ui-g-12">
    <div class="input-wrapper ui-float-label">
      <input type="text"
             pInputText
             formControlName="email">
      <label>Email</label>
      <i class="fa fa-user-circle-o"
         aria-hidden="true"></i>
    </div>
    <div *ngIf="form.get('email').invalid && form.get('email').dirty"
         class="ui-message ui-message-error ui-corner-all">
      <i class="fa fa-close"></i>
      <span *ngIf="form.get('email').hasError('required')">Required field</span>
      <span *ngIf="form.get('email').hasError('email')">Invalid email</span>
      <span *ngIf="form.get('email').hasError('serverError')">{{ errors['email'] }}</span>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="input-wrapper ui-float-label">
      <input type="password"
             pInputText
             formControlName="password">
      <label>Password</label>
      <i class="fa fa-lock"
         aria-hidden="true"></i>
    </div>
    <div *ngIf="form.get('password').invalid && form.get('password').dirty"
         class="ui-message ui-message-error ui-corner-all">
      <i class="fa fa-close"></i>
      <span *ngIf="form.get('password').hasError('required')">Required field</span>
      <span *ngIf="form.get('password').hasError('serverError')">{{ errors['password'] }}</span>
    </div>
  </div>
  <ng-container *ngIf="!isLoggingIn">
    <div class="ui-g-12">
      <div class="input-wrapper ui-float-label">
        <input type="password"
               pInputText
               formControlName="confirmPassword">
        <label>Confirm Password</label>
        <i class="fa fa-lock"
           aria-hidden="true"></i>
      </div>
      <div *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').dirty"
           class="ui-message ui-message-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('confirmPassword').hasError('mismatch')">Passwords do not match</span>
      </div>
    </div>
  </ng-container>
  <div class="ui-g-12 button-container">
    <button type="submit"
            pButton
            [label]="isLoggingIn ? 'Login' : 'Register'"
            class="ui-corner-all ui-button-text-only blue-btn raised-btn"
            [disabled]="loading">
    </button>
  </div>
</form>