<StackLayout class="form p-20"
             [formGroup]="form">
  <StackLayout class="input-field"
               [class.has-error]="form.get('email').invalid && form.get('email').touched">
    <TextField #email
               formControlName="email"
               class="input input-border"
               hint="Email"
               keyboardType="email"
               autocorrect="false"
               autocapitalizationType="none"></TextField>
    <StackLayout *ngIf="form.get('email').invalid && form.get('email').touched">
      <Label *ngIf="form.get('email').hasError('required')"
             text="Required field"
             class="error"></Label>
      <Label *ngIf="form.get('email').hasError('email')"
             text="Incorrect email"
             class="error"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout class="input-field"
               [class.has-error]="form.get('password').invalid && form.get('password').touched">
    <TextField #password
               formControlName="password"
               class="input input-border"
               hint="Password"
               secure="true"></TextField>
    <StackLayout *ngIf="form.get('password').invalid && form.get('password').touched">
      <Label *ngIf="form.get('password').hasError('required')"
             text="Required field"
             class="error"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active"
            text="Log In"
            [isEnabled]="!loading"
            (tap)="submitForm()"></Button>
    <Button class="btn btn-outline btn-active"
            text="Register"
            height="auto"
            [isEnabled]="!loading"
            (tap)="navigateToSignup()"></Button>
  </StackLayout>
</StackLayout>