<RadDataForm #dataForm
             [source]="form">
  <TKPropertyGroup tkDataFormGroups
                   name="Change Password">
    <TKGroupTitleStyle tkPropertyGroupTitleStyle
                       fillColor="#f6f9fb"
                       labelTextSize="16"
                       labelFontStyle="Bold"
                       labelTextColor="#3984b8"
                       separatorColor="#c7cdd1"></TKGroupTitleStyle>
    <TKEntityProperty tkPropertyGroupProperties
                      name="oldPassword"
                      displayName="Current Password">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Password">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="newPassword"
                      displayName="New Password">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Password">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="confirmPassword"
                      displayName="Confirm Password">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Password">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
  </TKPropertyGroup>
</RadDataForm>
<Button class="btn btn-primary btn-active"
        text="Change Password"
        [isEnabled]="!loading"
        (tap)="save()"></Button>