<h3>Change Password</h3>
<div class="ui-g ui-fluid">
  <form [formGroup]="form"
        autocomplete="off"
        novalidate>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="password"
               autocomplete="off"
               pInputText
               formControlName="oldPassword">
        <label>Current Password</label>
        <i class="fa fa-lock"
           aria-hidden="true"></i>
      </div>
      <div *ngIf="form.get('oldPassword').invalid && form.get('oldPassword').touched"
           class="ui-message ui-messages-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('oldPassword').hasError('required')">Required field</span>
        <span *ngIf="form.get('oldPassword').hasError('serverError')">{{ errors['oldPassword'] }}</span>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="password"
               autocomplete="off"
               pInputText
               formControlName="newPassword">
        <label>New Password</label>
        <i class="fa fa-lock"
           aria-hidden="true"></i>
      </div>
      <div *ngIf="form.get('newPassword').invalid && form.get('newPassword').touched"
           class="ui-message ui-messages-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('newPassword').hasError('required')">Required field</span>
        <span *ngIf="form.get('newPassword').hasError('serverError')">{{ errors['newPassword'] }}</span>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="password"
               autocomplete="off"
               pInputText
               formControlName="confirmPassword">
        <label for="email">Confirm Password</label>
        <i class="fa fa-lock"
           aria-hidden="true"></i>
      </div>
      <div *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched"
           class="ui-message ui-messages-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('confirmPassword').hasError('mismatch')">Passwords do not match</span>
      </div>
    </div>
    <div class="ui-g-12 row">
      <button type="button"
              pButton
              label="Change Password"
              class="blue-btn raised-btn"
              [disabled]="loading"
              (click)="save()">
      </button>
    </div>
  </form>
</div>