<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <div class="topbar ui-g">
        <da-logs-filter class="ui-md-8 ui-g-12"
                        [selectedFilter]="filter$ | async"
                        (filterChanged)="onFilterChange($event)"></da-logs-filter>
      </div>
      <div class="list">
        <da-logs-list [logs]="logs"
                      [sorting]="sorting$ | async"
                      [paging]="paging$ | async"
                      [totalCount]="count"
                      (sortChanged)="onSortChange($event)"
                      (pageChanged)="onPageChange($event)"></da-logs-list>
      </div>
    </div>
  </div>
</div>