@import 'src/app-variables';

.login {
  background-color: $white;
  border-width: 1;
  border-color: $grey-light;
  padding: 10 0;

  .title {
    font-size: 21;
    color: $grey-darker;
  }

  .fa {
    font-size: 50;
    color: $grey-light;
  }

  .header {
    border-bottom-width: 8;
    border-bottom-color: $grey-light;
  }
}
