<div class="login-body">
  <div class="login-panel ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12 logo-container">
        <i class="fa fa-shield"
           aria-hidden="true"></i>
        <i class="fa fa-sign-in"
           aria-hidden="true"></i>
        <h2>{{ isLoggingIn ? 'Login' : 'Register' }}
          <a href="javascript:void(0)"
             (click)="isLoggingIn = !isLoggingIn">{{ isLoggingIn ? 'Register' : 'Login' }}</a>
        </h2>
      </div>
      <da-auth-form [isLoggingIn]="isLoggingIn"
                    [loading]="loading$ | async"
                    [error]="error$ | async"
                    (formSubmitted)="doAuth($event)"></da-auth-form>
    </div>
  </div>
</div>