@import 'src/app-variables';

.login-body {
  height: auto;

  .login-panel {
    width: 600px;
    margin: 0 auto;
    background-color: $white;
    margin-top: 125px;
    border: 1px solid $grey-light;

    &.registration {
      margin-top: 50px;
    }

    @media (max-width: 640px) {
      width: 100%;
      margin-top: 100px;
    }
  }

  .logo-container {
    padding: 50px 50px 25px;
    border-bottom: 8px solid $grey-light;
    margin-bottom: 20px;

    .fa-shield,
    .fa-sign-in {
      height: 50px;
      font-size: 50px;
      color: $grey-light;
    }

    .fa-sign-in {
      float: right;
    }

    h2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $grey;
      font-size: 16px;
      font-weight: 300;
      margin-top: 12px;
      margin-bottom: 0;

      a {
        font-size: 12px;
      }
    }
  }
}
