<div class="card">
  <div *ngFor="let message of messages"
       class="ui-message ui-widget ui-corner-all ui-messages-info"
       [class.read]="message.read">
    <span class="status-icon"
          pTooltip="Mark As Read"
          tooltipZIndex="12000"
          (click)="messageMarked.emit(message._id)"></span>
    <p class="text">{{ message.text }}</p>
    <span class="date">{{ message.createdAt | date: 'dd.MM.yyyy HH:mm' }}</span>
  </div>
  <p *ngIf="!messages.length">
    You don't have any message yet
  </p>
</div>