@import 'src/app-variables';

.card {
  margin-top: 20px;
  height: calc(100% - 70px);
  overflow-y: auto;
}

/deep/ .ui-sidebar.ui-widget-content {
  background-color: $grey-lighter;
}

.ui-message {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0;
  position: relative;
}

.status-icon {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: $green;
  cursor: pointer;
}

.ui-message.read {
  background: $grey-lighter;
  border: 1px solid #bfe0fa;

  .status-icon {
    display: none;
  }
}

.date {
  font-size: 10px;
  margin-left: auto;
}
