:host {
  padding-left: 0;
}

.users-filter {
  .ui-md-6 {
    padding: 0;
  }

  .ui-inputgroup {
    @media (max-width: 640px) {
      margin-bottom: 16px;
    }

    input {
      width: 100%;

      @media (min-width: 641px) {
        margin-right: 16px;
      }
    }
  }
}
