<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <p-steps [model]="items"
               [(activeIndex)]="activeIndex">
      </p-steps>
      <div class="ui-widget-content">
        <da-destination-form *ngIf="activeIndex === 0"
                             [form]="form.get('destinationForm')"
                             [clients]="clients"
                             [role]="role"
                             (next)="activeIndex = 1"></da-destination-form>
        <da-cargo-form *ngIf="activeIndex === 1"
                       [form]="form.get('cargoForm')"
                       (next)="activeIndex = 2"
                       (prev)="activeIndex = 0"></da-cargo-form>
        <da-sender-form *ngIf="activeIndex === 2"
                        [form]="form.get('senderForm')"
                        [loading]="loading"
                        (prev)="activeIndex = 1"
                        (save)="submitForm()"></da-sender-form>
      </div>
    </div>
  </div>
</div>