<div class="layout">
  <p>Menu</p>
  <da-topbar [user]="user$ | async"
             [unreadMessages]="unreadMessages$ | async"
             (openSidebar)="showMessages = true"
             (logout)="logout()"></da-topbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<p-sidebar [(visible)]="showMessages"
           position="right"
           [baseZIndex]="10000">
  <p>Messages goes here!!</p>
  <button pButton
          type="button"
          (click)="showMessages = false"
          label="Close"
          class="ui-button-secondary"></button>
</p-sidebar>