<div class="ui-g ui-fluid">
  <form [formGroup]="form"
        (submit)="submitForm()"
        autocomplete="off"
        novalidate>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               autocomplete="off"
               pInputText
               formControlName="id"
               readonly>
        <label>Num.</label>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <p-spinner formControlName="total"
                   [readonly]="isClient"></p-spinner>
        <label>Total, $</label>
      </div>
      <div *ngIf="form.get('total').invalid && form.get('total').touched"
           class="ui-message ui-message-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('total').hasError('required')">Required field</span>
        <span *ngIf="form.get('total').hasError('serverError')">{{ errors['total'] }}</span>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <p-calendar *ngIf="!isClient"
                    dateFormat="dd.mm.yy"
                    dateFormat="dd.mm.yy"
                    showButtonBar="true"
                    [showIcon]="true"
                    formControlName="dueDate"></p-calendar>
        <input *ngIf="isClient"
               type="text"
               pInputText
               [value]="(payment && payment.dueDate | date: 'dd.MM.yyyy') || ''"
               readonly>
        <label>Due Date</label>
      </div>
      <div *ngIf="form.get('dueDate').invalid && form.get('dueDate').touched"
           class="ui-message ui-message-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('dueDate').hasError('required')">Required field</span>
        <span *ngIf="form.get('dueDate').hasError('serverError')">{{ errors['dueDate'] }}</span>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <p-spinner formControlName="paymentAmount"
                   [readonly]="isClient"></p-spinner>
        <label>Payment Amount, $</label>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <p-calendar *ngIf="!isClient"
                    dateFormat="dd.mm.yy"
                    showButtonBar="true"
                    [showIcon]="true"
                    formControlName="paymentDate"></p-calendar>
        <input *ngIf="isClient"
               type="text"
               pInputText
               [value]="(payment && payment.paymentDate | date: 'dd.MM.yyyy') || ''"
               readonly>
        <label>Payment Date</label>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper">
        <label class="float-label">Payment method</label>
        <p-dropdown [options]="methods"
                    formControlName="method"
                    [readonly]="isClient"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper">
        <label class="float-label">Payment Status</label>
        <p-dropdown [options]="statuses"
                    formControlName="status"
                    [readonly]="isClient"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <p-autoComplete formControlName="orders"
                        emptyMessage="Not found"
                        [multiple]="true"
                        [suggestions]="orders$ | async"
                        [forceSelection]="true"
                        [autoHighlight]="true"
                        [required]="true"
                        [readonly]="isClient"
                        (completeMethod)="searchOrder($event)"></p-autoComplete>
        <label>Orders</label>
      </div>
      <div *ngIf="form.get('orders').invalid && form.get('orders').touched"
           class="ui-message ui-message-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('orders').hasError('required')">Required field</span>
        <span *ngIf="form.get('orders').hasError('serverError')">{{ errors['orders'] }}</span>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <p-autoComplete [formControl]="client"
                        emptyMessage="Not found"
                        field="email"
                        [suggestions]="clients$ | async"
                        [forceSelection]="true"
                        [autoHighlight]="true"
                        [required]="true"
                        [readonly]="isClient"
                        (completeMethod)="searchClient($event)"
                        (onSelect)="selectClient($event)"></p-autoComplete>
        <label>Client</label>
      </div>
      <div *ngIf="form.get('clientId').invalid && form.get('clientId').touched"
           class="ui-message ui-message-error ui-corner-all">
        <i class="fa fa-close"></i>
        <span *ngIf="form.get('clientId').hasError('required')">Required field</span>
        <span *ngIf="form.get('clientId').hasError('serverError')">{{ errors['clientId'] }}</span>
      </div>
    </div>
    <div class="ui-g-12">
      <label>Description</label>
      <textarea pInputTextarea
                formControlName="description"
                [rows]="5"
                [readOnly]="isClient"></textarea>
    </div>
    <div class="ui-g-12">
      <label>Comments</label>
      <textarea pInputTextarea
                formControlName="notes"
                [rows]="5"
                [readOnly]="isClient"></textarea>
    </div>
    <div *ngIf="role !== roles.CLIENT"
         class="ui-g-12">
      <button type="submit"
              pButton
              label="Save"
              class="blue-btn raised-btn"
              [disabled]="loading">
      </button>
    </div>
  </form>
</div>