<h3>Bank Details</h3>
<div class="ui-g ui-fluid">
  <form [formGroup]="form"
        autocomplete="off"
        novalidate>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               autocomplete="off"
               pInputText
               formControlName="name">
        <label>Name</label>
        <i class="fa fa-building-o"
           aria-hidden="true"></i>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               autocomplete="off"
               pInputText
               formControlName="accountNumber">
        <label>Account</label>
        <i class="fa fa-credit-card"
           aria-hidden="true"></i>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               autocomplete="off"
               pInputText
               formControlName="bin">
        <label>BIN</label>
        <i class="fa fa-credit-card"
           aria-hidden="true"></i>
      </div>
    </div>
    <div class="ui-g-12 row">
      <div class="input-wrapper ui-float-label">
        <input type="text"
               autocomplete="off"
               pInputText
               formControlName="swift">
        <label>SWIFT</label>
        <i class="fa fa-credit-card"
           aria-hidden="true"></i>
      </div>
    </div>
  </form>
</div>