@import '~nativescript-theme-core/scss/light';
@import 'app-variables';
@import '~nativescript-theme-core/scss/index';

.fa {
  font-family: 'FontAwesome';
}

.btn[isEnabled='false'] {
  background-color: rgba(57, 132, 184, 0.35);
  border-color: transparent;
}

.page-content {
  background-color: $grey-lighter;
}

.card {
  background-color: $white;
  border-width: 1;
  border-color: $grey-light;
}

.text-success {
  color: $green;
}

.list-item {
  margin: 0 5;
  padding: 10 5 10 10;
  border-bottom-width: 1;
  border-bottom-color: #c7cdd1;
  color: $grey-darker;
  font-size: 14;

  &.first {
    border-top-width: 1;
    border-top-color: #c7cdd1;
  }

  .angle {
    font-size: 22;
  }
}
