<ActionBar class="action-bar">
  <NavigationButton text="Orders"></NavigationButton>
  <Label class="action-bar-title"
         text="New Order"></Label>
  <ActionItem ios.systemIcon="3"
              ios.position="right"
              android.position="actionBar"
              android.systemIcon="ic_menu_save"
              (tap)="submit()"></ActionItem>
</ActionBar>
<ScrollView>
  <StackLayout class="p-b-10">
    <RadDataForm #dataForm
                 [source]="order">
      <TKPropertyGroup tkDataFormGroups
                       name="Destination">
        <TKGroupTitleStyle tkPropertyGroupTitleStyle
                           fillColor="#f6f9fb"
                           labelTextSize="16"
                           labelFontStyle="Bold"
                           labelTextColor="#3984b8"
                           separatorColor="#c7cdd1"></TKGroupTitleStyle>
        <TKEntityProperty tkPropertyGroupProperties
                          name="cityFrom"
                          displayName="Departure City">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="addressFrom"
                          displayName="Departure Address">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="cityTo"
                          displayName="Arrival City">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="addressTo"
                          displayName="Arrival Address">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="additionalData"
                          displayName="Additional Info">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="MultilineText">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
        </TKEntityProperty>
      </TKPropertyGroup>
      <TKPropertyGroup tkDataFormGroups
                       name="Cargo">
        <TKGroupTitleStyle tkPropertyGroupTitleStyle
                           fillColor="#f6f9fb"
                           labelTextSize="16"
                           labelFontStyle="Bold"
                           labelTextColor="#3984b8"
                           separatorColor="#c7cdd1"></TKGroupTitleStyle>
        <TKEntityProperty tkPropertyGroupProperties
                          name="cargoName"
                          displayName="Cargo Name">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="cargoWeight"
                          displayName="Weight">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Number">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKRangeValidator tkEntityPropertyValidators
                            errorMessage="Weight must be greater than 1"
                            minimum="1"></TKRangeValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="cargoVolume"
                          displayName="Volume">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Number">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="comment"
                          displayName="Comments">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="MultilineText">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
        </TKEntityProperty>
      </TKPropertyGroup>
      <TKPropertyGroup tkDataFormGroups
                       name="Sender">
        <TKGroupTitleStyle tkPropertyGroupTitleStyle
                           fillColor="#f6f9fb"
                           labelTextSize="16"
                           labelFontStyle="Bold"
                           labelTextColor="#3984b8"
                           separatorColor="#c7cdd1"></TKGroupTitleStyle>
        <TKEntityProperty tkPropertyGroupProperties
                          name="senderCompany"
                          displayName="Company Name">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="senderName"
                          displayName="Contact Person">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Text">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="senderEmail"
                          displayName="Email">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Email">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
          <TKEmailValidator tkEntityPropertyValidators
                            errorMessage="Incorrect email"></TKEmailValidator>
        </TKEntityProperty>
        <TKEntityProperty tkPropertyGroupProperties
                          name="senderPhone"
                          displayName="Phone">
          <TKPropertyEditor tkEntityPropertyEditor
                            type="Phone">
            <TKPropertyEditorStyle tkPropertyEditorStyle
                                   labelTextSize="14"
                                   labelFontStyle="BoldItalic"
                                   labelPosition="Top"
                                   labelTextColor="#757575"></TKPropertyEditorStyle>
          </TKPropertyEditor>
          <TKNonEmptyValidator tkEntityPropertyValidators
                               errorMessage="Required field"></TKNonEmptyValidator>
          <TKPhoneValidator tkEntityPropertyValidators
                            errorMessage="Incorrect phone"></TKPhoneValidator>
        </TKEntityProperty>
      </TKPropertyGroup>
    </RadDataForm>
    <ng-container *ngIf="role !== roles.CLIENT">
      <Label text="Client"
             class="group-title"></Label>
      <StackLayout class="autocomplete">
        <Label class="label"
               text="Client"></Label>
        <RadAutoCompleteTextView #clientAutocomplete
                                 noResultsText="Not found!"
                                 suggestMode="Suggest"
                                 displayMode="Plain"
                                 (textChanged)="onClientTextChange($event)"
                                 (didAutoComplete)="selectClient($event)">
          <SuggestionView tkAutoCompleteSuggestionView
                          suggestionViewHeight="110">
            <ng-template tkSuggestionItemTemplate
                         let-item="item">
              <StackLayout class="item">
                <Label [text]="item.text"></Label>
              </StackLayout>
            </ng-template>
          </SuggestionView>
        </RadAutoCompleteTextView>
        <Label *ngIf="!clientFieldValid"
               class="error-message"
               text="Required field"></Label>
      </StackLayout>
    </ng-container>
  </StackLayout>
</ScrollView>