<GridLayout class="container"
            rows="*, auto">
  <StackLayout row="0"
               class="card">
    <ng-container *ngIf="(messages$ | async) as messages">
      <ListView [items]="messages"
                class="list-group">
        <ng-template let-message="item"
                     let-odd="odd"
                     let-even="even">
          <StackLayout class="list-group-item">
            <Label class="list-group-item-heading"
                   [text]="message.text"
                   textWrap="true"></Label>
            <Label class="list-group-item-text"
                   [text]="message.createdAt | date: 'dd.MM.yyyy HH:mm'"></Label>
          </StackLayout>
        </ng-template>
      </ListView>
      <Label *ngIf="!messages.length"
             text="You don't have any message yet">
      </Label>
    </ng-container>
  </StackLayout>
  <Button row="1"
          class="btn btn-primary btn-active"
          text="Close"
          (tap)="close()"></Button>
</GridLayout>