@import 'src/app-variables';

.container {
  padding: 7 13;
  background-color: $grey-lighter;
}

.card {
  background-color: $white;
}

.btn {
  width: 100%;
  margin-top: 10;
}

.unread {
  background-color: $grey-lighter;
}
