<div class="card">
  <ng-container *ngIf="{
    messages: messages$ | async,
    totalCount: totalCount$ | async
  } as data">
    <da-infinite-scroll *ngIf="data.messages.length > 0"
                        (scrolled)="loadMore()">
      <div *ngFor="let message of data.messages"
           class="ui-message ui-widget ui-corner-all ui-messages-info"
           [class.read]="message.read">
        <span class="status-icon"
              pTooltip="Mark As Read"
              tooltipZIndex="12000"
              (click)="markAsRead(message._id)"></span>
        <p class="text">{{ message.text }}</p>
        <span class="date">{{ message.createdAt | date: 'dd.MM.yyyy HH:mm' }}</span>
      </div>

    </da-infinite-scroll>
    <p *ngIf="data.messages.length === 0">
      You don't have any message yet
    </p>
  </ng-container>
</div>