<ActionBar class="action-bar">
  <NavigationButton text="Orders"></NavigationButton>
  <Label class="action-bar-title"
         [text]="'Order # ' + order.id"></Label>
  <ActionItem ios.systemIcon="3"
              ios.position="right"
              android.position="actionBar"
              android.systemIcon="ic_menu_save"
              (tap)="submit()"></ActionItem>
</ActionBar>
<RadDataForm #dataForm
             [source]="order">
  <TKPropertyGroup tkDataFormGroups
                   name="Main Info">
    <TKGroupTitleStyle tkPropertyGroupTitleStyle
                       fillColor="#f6f9fb"
                       labelTextSize="16"
                       labelFontStyle="Bold"
                       labelTextColor="#3984b8"
                       separatorColor="#c7cdd1"></TKGroupTitleStyle>
    <TKEntityProperty tkPropertyGroupProperties
                      name="id"
                      displayName="Order Number"
                      readOnly="true">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Number">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="cargoName"
                      displayName="Cargo Name">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="cargoWeight"
                      displayName="Weight">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Number">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKRangeValidator tkEntityPropertyValidators
                        errorMessage="Weight must be greater than 1"
                        minimum="1"></TKRangeValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="cargoVolume"
                      displayName="Volume">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Number">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="cityFrom"
                      displayName="Departure City">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="cityTo"
                      displayName="Arrival City">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="addressFrom"
                      displayName="Departure Address">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="addressTo"
                      displayName="Arrival Address">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="additionalData"
                      displayName="Additional Info">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="MultilineText">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="comment"
                      displayName="Comments">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="MultilineText">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
  </TKPropertyGroup>
  <TKPropertyGroup tkDataFormGroups
                   name="Sender Info">
    <TKGroupTitleStyle tkPropertyGroupTitleStyle
                       fillColor="#f6f9fb"
                       labelTextSize="16"
                       labelFontStyle="Bold"
                       labelTextColor="#3984b8"
                       separatorColor="#c7cdd1"></TKGroupTitleStyle>
    <TKEntityProperty tkPropertyGroupProperties
                      name="senderCompany"
                      displayName="Company Name">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="senderName"
                      displayName="Contact Person">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="senderEmail"
                      displayName="Email">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Email">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
      <TKEmailValidator tkEntityPropertyValidators
                        errorMessage="Incorrect email"></TKEmailValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="senderPhone"
                      displayName="Phone">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Phone">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <TKNonEmptyValidator tkEntityPropertyValidators
                           errorMessage="Required field"></TKNonEmptyValidator>
      <TKPhoneValidator tkEntityPropertyValidators
                        errorMessage="Incorrect phone"></TKPhoneValidator>
    </TKEntityProperty>
  </TKPropertyGroup>
  <TKPropertyGroup tkDataFormGroups
                   name="Payment Info">
    <TKGroupTitleStyle tkPropertyGroupTitleStyle
                       fillColor="#f6f9fb"
                       labelTextSize="16"
                       labelFontStyle="Bold"
                       labelTextColor="#3984b8"
                       separatorColor="#c7cdd1"></TKGroupTitleStyle>
    <TKEntityProperty tkPropertyGroupProperties
                      name="deliveryCosts"
                      displayName="Amount, $"
                      [readOnly]="role === roles.CLIENT">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Number">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
      <!-- Android still validates even if property is readonly -->
      <TKRangeValidator *ngIf="role !== roles.CLIENT"
                        tkEntityPropertyValidators
                        errorMessage="Payment sum must be greater than 0"
                        minimum="0,01"></TKRangeValidator>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="paid"
                      displayName="Paid"
                      [readOnly]="role === roles.CLIENT">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Switch">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="paymentDate"
                      displayName="Payment Date"
                      [readOnly]="role === roles.CLIENT">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="DatePicker">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="invoiceId"
                      displayName="Invoice Number"
                      [readOnly]="role === roles.CLIENT">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Number">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
  </TKPropertyGroup>
  <TKPropertyGroup *ngIf="role !== roles.CLIENT"
                   tkDataFormGroups
                   name="Client Info">
    <TKGroupTitleStyle tkPropertyGroupTitleStyle
                       fillColor="#f6f9fb"
                       labelTextSize="16"
                       labelFontStyle="Bold"
                       labelTextColor="#3984b8"
                       separatorColor="#c7cdd1"></TKGroupTitleStyle>
    <TKEntityProperty tkPropertyGroupProperties
                      name="clientId"
                      displayName="ID"
                      readOnly="true">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Number">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="client"
                      displayName="Email"
                      [converter]="clientConverter"
                      readOnly="true">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Text">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
  </TKPropertyGroup>
  <TKPropertyGroup tkDataFormGroups
                   name="Additional Info">
    <TKGroupTitleStyle tkPropertyGroupTitleStyle
                       fillColor="#f6f9fb"
                       labelTextSize="16"
                       labelFontStyle="Bold"
                       labelTextColor="#3984b8"
                       separatorColor="#c7cdd1"></TKGroupTitleStyle>
    <TKEntityProperty tkPropertyGroupProperties
                      name="status"
                      displayName="Order Status"
                      [valuesProvider]="orderStatusesProvider"
                      [readOnly]="role === roles.CLIENT">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="Picker">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="deliveryDate"
                      displayName="Delivery Date"
                      [readOnly]="role === roles.CLIENT">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="DatePicker">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="createdAt"
                      displayName="Created At"
                      readOnly="true">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="DatePicker">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
    <TKEntityProperty tkPropertyGroupProperties
                      name="updatedAt"
                      displayName="Updated At"
                      readOnly="true">
      <TKPropertyEditor tkEntityPropertyEditor
                        type="DatePicker">
        <TKPropertyEditorStyle tkPropertyEditorStyle
                               labelTextSize="14"
                               labelFontStyle="BoldItalic"
                               labelPosition="Top"
                               labelTextColor="#757575"></TKPropertyEditorStyle>
      </TKPropertyEditor>
    </TKEntityProperty>
  </TKPropertyGroup>
</RadDataForm>